body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    margin: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 155px 3fr;
    width: 400px;
    height: 97%;
    gap: 5px;
}

.div-one{
    grid-area: 1/1/2/3;
    background-color: #6151BB;
    display: flex;
}

.hamburger{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 97%;
}

.div-one img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.home{
    flex-grow: 1;
}

.div-one p{
    margin: 0;
    color: white;
    font-size: medium;
    padding-bottom: 5px;
    cursor: pointer;
}

.div-two{
    grid-area: 2/1/2/3;
}

.storage{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-1{
    display: flex;
    gap: 6px;
}

.profile-1 p{
    margin: 0;
}

.search{
    display: flex;
    width: 100%;
    order: -1;
}

.search>input{
    border: none;
    outline: none;
    padding: 5px;
    border: 1px solid #6151BB;
    flex-grow: 1;
}

.search div{
    background-color: #6151BB;
    cursor: pointer;
    padding: 5px;
}

.search img{
    width: 22px;
    height: 22px;
    margin-top: 3px;
}

.nav{
    margin-left: 2px;
    display: flex;
    width: 99%;
    justify-content: space-between;
}

.nav>p{
    margin: 0;
    cursor: pointer;
    text-align: cetner;
    padding: 5px;
}

.underline{
    border-bottom: 1px solid #6151BB;
}

.div-three{
    grid-area: 3/1/4/3;
    
}