body>.section{
    margin: 0;
    margin-top: 1px;
    display: flex;
    height: 90vh;
    justify-content: center;
}

.col{
    background-color: white;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    margin-top: 5px;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
}

.first-div>p{
    margin-bottom: 0;
    padding: 0;
    font-size: 1.5em;
}

.hello{
    color: #6151BB;
}

.input-box{
    margin-top: 31px;
    width: 95%;
    border-bottom: 1px solid black;
}

.input-box>p{
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

.eye{
    display: flex;
    gap: 35px;
}

i{
    align-self: center;
}

.blur{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.input-box input{
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    padding-top: 8px;
    padding-bottom: 7px;
}

#hide2{
    display: none;
}

.fp{
    align-self: flex-end;
    margin-right: 17px;
}

.fp p{
    color: #00000080;
    font-size: 0.75rem;
    cursor: pointer;
}

.fp>button{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.login{
    display: flex;
    justify-content: center;
}

.login>div{
    width: 80%;
    background-color: #6151BB;
    border: 1px solid #6151BB;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;

}

.icon{
    display: flex;
    gap: 35px;
    justify-content: center;
}

img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.Facebook_Logo{
    order: 1;
}

.Facebook_Logo>img{
    height: 35px;
    width: 35px;
}


.pop-up{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50px,-50px)scale(0.1);
    visibility: hidden;
    transition: 0.5s;
}

.open-popup{
    visibility: visible;
    top: 40%;
    transform: translate(-50px,-50px)scale(1);
}

.pop-up>div{
    background-color: #6151BB;
    width: 30%;
    padding: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.pop-up h1{
    border-radius:3px;
    background-color: #6151BB;
    text-align: center;
    padding: 3px;
    color: white;
    font-size: 0.90rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pop-up input{
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

.cred p,.tdm>p{
    margin: 0;
    margin-top: 5px;
}

.cred p{
    font-size: 0.90rem;
    color: white;
}

.tdm{
    margin-top: 10px;
    width: 120px;
    align-self: center;
}

.tdm>p{
    font-size: 0.75rem;
    color: #ffffff80;
    text-align: center;
}

.close{
    margin-top: 5px;
    width: 60x;
    padding: 5px;
    background-color: white;
    align-self: center;
}

.close>button{
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    color: #6151BB;
    cursor: pointer;
}

@media(min-width:300px) and (max-width:500px){
    .pop-up>div{
        width: 55%;
    }

    .pop-up{
        left: 50px;
    }

    .cred p{
        font-size: 0.75rem;
    }
}

@media(min-width:250px) and (max-width:350px){
    .tdm p{
        font-size: 0.50rem;
        text-align: center;
    }

    .close{
        padding: 2px;
        width: 50px;
    }

    .close button{
        text-align: center;
    };

    .pop-up>div{
        width: 60%;
    }
}

@media(min-width:500px) and (max-width:680px){
    .pop-up>div{
        width: 70%;
    }

    .pop-up{
        left: 60px;
    }
}

@media(min-width:700px) and (max-width:800px){
    .pop-up>div{
        width: 25%;
    }
}